<div>
		<form>
		<div class="form-group">
			<label for="naziv">Naziv filma</label>
			<input type="text" id="naziv" ng-model="noviFilm.naziv" class="form-control">
		</div>
		
		<div class="form-group">
			<label for="glumac">Glavni glumac</label>
			<input type="text" id="glumac" ng-model="noviFilm.glavniGlumac" class="form-control">
		</div>
		
		<div class="form-group">
			<label for="stanje">Stanje karata</label>
			<input type="text" id="stanje" ng-model="noviFilm.stanje" class="form-control">
		</div>
		
		<div class="form-group">
			<label for="cena">Cena karate</label>
			<input type="text" id="cena" ng-model="noviFilm.cena" class="form-control">
		</div>
		
		<div class="form-group">
			<label for="bioskop">Bioskop</label>
			<select class="form-control" id="bioskop" ng-model="noviFilm.bioskopId">
				<option ng-repeat="b in bioskopi" value="{{b.id}}">{{b.naziv}}</option>
			</select>
		</div>

		<div class="form-group">
			<label for="zanr">Zanr</label>
			<select class="form-control" id="zanr" ng-model="noviFilm.zanrId">
				<option ng-repeat="z in zanrovi" value="{{z.id}}">{{z.naziv}}</option>
			</select>
		</div>
		<button class="btn btn-primary" ng-click="dodaj()">Dodaj novi film</button>
	</form>



</div>