<div>
<form>
		<div class="form-group">
			<label for="naziv">Naziv</label>
			<input type="text" id="naziv" ng-model="stariFilm.naziv" class="form-control">
		</div>
		
		<div class="form-group">
			<label for="glumac">Glavni glumac</label>
			<input type="text" id="glumac" ng-model="stariFilm.glavniGlumac" class="form-control">
		</div>
		
		<div class="form-group">
			<label for="stanje">Stanje karata</label>
			<input type="text" id="stanje" ng-model="stariFilm.stanje" class="form-control">
		</div>
		
		<div class="form-group">
			<label for="cena">Cena karte</label>
			<input type="text" id="cena" ng-model="stariFilm.cena" class="form-control">
		</div>
		
		<button class="btn btn-primary" ng-click="izmeni()">Izmeni</button>
	</form>
</div>